<%- include("partials/header") %>


<div class="container">

    <div class="jumbotron">
        <h1>Product Master</h1>
        <hr>
        <p>This is simple crud application made in nodejs and mongodb</p>
    
    </div></div>
    </div>
    

    <% if (founddata.length > 0) { %>
    <div class="container">


        <div  class="bod">
        
            <table   >
              <thead>
                <td class="css">Category Id</td>
                <td class="css">Category Name</td>
                <td class="css">Product Id</td>
                <td class="css">Product Name</td>
          
              </thead>
              <tbody>
                <% for(var i=0;i<founddata.length;i++){%>
                <tr>
                  <td>    <%=founddata[i].catid%>   </td>
                  <td>      <%=founddata[i].catname%>    </td>
                  <td>         <%=founddata[i]._id%></td>
                  <td>    <%=founddata[i].name%> </td>
              


                    <td>
                        <form action="/product/<%=founddata[i]._id%>/edit" method="GET" >
                            <button class="btn btn-success btn-md">update</button>
                                </form>
                    </td>

                  <td>
                    <form action="/product/<%=founddata[i]._id%>?_method=delete" method="POST" >
                        <button class="btn btn-danger btn-md">delete</button>
                            </form>
                 <%}%>
               
              </tbody>
            </table>
        
         </div>
         <% } %>
  
        
         <% if (pages > 0) { %>
          <ul class="pagination text-center">
              <% if (current == 1) { %>
                  <li class="disabled"><a>First</a></li>
              <% } else { %>
                  <li><a href="/product/1">First</a></li>
              <% } %>
              <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
              <% if (i !== 1) { %>
                  <li class="disabled"><a>...</a></li>
              <% } %>
              <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                  <% if (i == current) { %>
                      <li class="active"><a><%= i %></a></li>
                  <% } else { %>
                      <li><a href="/product/<%= i %>"><%= i %></a></li>
                  <% } %>
                  <% if (i == Number(current) + 4 && i < pages) { %>
                      <li class="disabled"><a>...</a></li>
                  <% } %>
              <% } %>
              <% if (current == pages) { %>
                  <li class="disabled"><a>Last</a></li>
              <% } else { %>
                  <li><a href="/product/<%= pages %>">Last</a></li>
              <% } %>
          </ul>
      <% } %>
        


</div>
<%- include("partials/footer") %>
